@font-face {
    font-family:thyssen ;
    src: url(Thyssen\ J\ Italic.TTF) format(truetype);
}    
@font-face {
    font-family:thyssen ;
    src: url(Aramis\ Italic.ttf) format(truetype);
}

body{
    margin: 0;
    padding: 0;   
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url(web2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.menu-bar{
    text-align: center;
}
.logo {
    height: 90px;
    width: 90px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    display: block;
    width: 60px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
    margin-top: 20px;
    padding: 0;
    color: rgb(172, 172, 172);
    margin-top: 20px;
    font-size:large;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    position: relative;
    text-decoration: none;
    padding: 0 14px;
}
a::after{
    content: "";
    position: absolute;
    background-color: aqua;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
a:hover::after{
    width: 100%;
   
}
a:hover{
    color: white;
}
li{
    float: right;
}
.batt{
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 236, 236);
    width:auto;
    margin-right: 30px;
    margin-top: 130px;
    height:230px;
    text-align: left;
    padding-left: 20px;
    padding-top: -10px;
}
h1{
    padding: 10px;
    margin-top: 250px;
    color: rgb(211, 207, 207);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-left: 60px;
    font-size: 45px;
}
span{
    color: rgb(231, 179, 111);
    font-family: 'thyssen';
    font-size: 30px;
    word-spacing: 6px;
}
.thee{
    color: rgb(231, 179, 111);
    font-family: 'thyssen';
    font-size: 45px;
    word-spacing: 6px;
}
h3{
    color: rgb(209, 209, 209);
   word-spacing: 6px;
   font-family: 'aramis';
   margin-left: 80px;
}
h4{
    text-shadow: 2px 2px  9px black;
}
button{
    cursor: pointer;
    color: white;
    margin-left: 130px;
    border: 1px solid white;
    background: transparent;
    padding: 10px 75px;
    font-size: 28px;
    font-family: 'thyssen';
    transition: 0.7s;
    border-radius: 25px;
}
button:hover{
    background-color: rgb(8, 214, 214);
    color: black;
    font-size: 29px;
    box-shadow: 2px 2px  9px rgb(143, 143, 143);
}

.load{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}
div.gallery {
    margin: 15px;
    border: 1px solid gray;
    float: left;
    width: 180px;
}
  
  div.gallery:hover {
    border: 1px solid black;
}
  
  div.gallery img {
    width: 100%;
    height: auto;
}
  
  div.desc {
    padding: 20px;
    text-align: center;
}
h2{
    text-align: left;
    font-family: 'thyssen';
    color: whitesmoke;
    font-size: xx-large;
    margin-left: 10px;
    word-spacing: 5px;
    text-shadow: 2px 2px 9px gray;
}
.there{
    font-family: 'thyssen';
    color: whitesmoke;
    font-size: large;
    margin-left: 10px;
    word-spacing: 5px;
    text-shadow:2px 2px 9px rgb(56, 56, 56);
}
.abt{
    margin-top: 140px;
    color: blanchedalmond;
    font-size: x-large;
    font-family: 'aramis';
    margin-left: 30px;
}
.gg{
    color: blanchedalmond;
    font-size: x-large;
    font-family: 'aramis';
    margin-left: 30px
}
.hey{
    cursor: pointer;
    color: white;
    margin-left: 130px;
    margin-top: 10px;
    border: 1px solid white;
    background: transparent;
    padding: 10px 40px;
    font-size: 28px;
    font-family: 'thyssen';
    transition: 0.7s;
    border-radius: 25px;
}
.hey:hover{
    background-color: rgb(245, 223, 138);
    color: black;
    font-size: 29px;
    box-shadow: 2px 2px  9px whitesmoke;
}
.tallone{
    text-align: center;
    float: left;
    margin-top: 50px;
}
.the{
    float: left;
    margin-left: 70px;
    margin-right: 30px;
    cursor: pointer;
    color: white;
    transition: 0.4s;
}


.desc{
    color: cornsilk;
    font-size: large;
    text-shadow: 3px 3px 9px gray;
}
.read{
    text-align: center;
    float: left;
    margin-left: 150px;
    margin-top: 7px;
    border: 3px solid rgb(0, 0, 0);
}
.comb{
    color: ivory;
    text-shadow: 3px 3px 9px rgb(112, 106, 106);
    font-size: x-large;
}
.tom{
    margin-top: 70px;
    margin-left: 10px;
    color: white;
    font-family: 'aramis';
    font-size: xx-large;
    text-shadow:  3px 3px 7px gray;
}
.tome{
    margin-top: -25px;
    color: whitesmoke;
    font-family: 'aramis';
    font-size: xx-large;
    text-shadow:  3px 3px 7px gray;
}
.room{
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 5px 40px;
    font-size: large;
    font-family: 'thyssen';
    transition: 0.7s;
    border-radius: 10px;
    text-align: right;
    margin-left: -0px;
    margin-bottom: 5px;
}
.room:hover{
    background-color: rgb(137, 151, 147);
    color: black;
    font-size: large;
    box-shadow: 2px 2px  9px rgb(173, 172, 172);
}
@media screen and(min-width:412px){
}
